body
{
    background-image: url(../project/img/pubg.jpg);
    background-size: cover;
    padding: 10px;
}

.container
{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.vid
{
    width: 80%;
    border-radius: 5%;
}

.video
{
    text-align: center;
    justify-content: center;
}

.page-item
{
    text-align: center;
}