body
{
    background-image: url(../project/img/pubg.jpg);
    background-size: cover;
}

.container
{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.vid
{
    width: 1000px;
}

.video
{
    text-align: center;
}

.page-item
{
    text-align: center;
}